<meta charset="UTF-8">
<meta name="description" content="Peotus - I am a Web Developer based in Verona. ">
<meta name="keywords" content="HTML,CSS,JavaScript, Web Developer, Web Developer in Verona, Verona, Coder, Coder Verona">
<meta name="author" content="Matteo Grobberio">
        
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>

<link rel="icon" href="../images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
<!-- <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"> -->

<style>
    html,body{
        background-color: #161616;
        color: #fff;
    }
</style>

        
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14ZENHZVS9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-14ZENHZVS9');
</script>