
  <div class="row header">
    <div class="col offset-m2 m2 s3">
        <a href="{{ '/' | relative_url }}"><img src="/assets/img/logo.svg" alt="Peotus - Web Developer" class="logo" /></a>
    </div>
    <div id="hamburger" class="col m0 s9">
        <span class="bar"></span>
    </div>
    <div id="navbar" class="col m6 s12">
        <nav>
            <ul>
                <li><a href="/now.html">now</a></li>
                <li><a href="{{ '/posts' | relative_url }}">posts</a></li>
                <li><a href="mailto:matteo.grobberio@gmail.com">mail me</a></li>
            </ul>
        </nav>
    </div>
</div>