@import url('https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans:wght@200;300;400&display=swap');

@font-face {
    font-family: Moontime;
    src: url(MoonTime-Regular.ttf);
}

@font-face {
    font-family: Cheque;
    src: url(Cheque-Regular.otf);
}

.birthday::after{
    content: "";
    width:100%;
    height: 100%;
    background-image: url(noisy.png);
    background-repeat: repeat;
    background-size: 100px 100px;
    display: block;
    position: absolute;
    top:0px;
    left:0px;
}


.birthday{
    background-color: #F2D7EE;
    color:#69306D;
    padding: 180px 16px;
    position: relative;
    min-height:400px;
    text-align: center;
    text-shadow: 0px 2px 36px rgba(255,255,255,.8);
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    background-size: 300% 300%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: blur(20px);
    animation: move-blob 20s infinite;
    z-index: 0;
  }
  .blob-1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 25%;
    background-color: rgba(244,91,105,0.2);
    animation-delay: 0s;
  }
  .blob-2 {
    width: 150px;
    height: 150px;
    top: 30%;
    left: 5%;
    background-color: #87CEEB;
    animation-delay: 2s;
  }
  .blob-3 {
    width: 100px;
    height: 100px;
    top: 60%;
    left: 80%;
    background-color: rgba(225,206,122,0.3);
    animation-delay: 3s;
  }
  .blob-4 {
    width: 120px;
    height: 120px;
    top: 90%;
    left: 40%;
    background-color: rgba(255,255,255,.4);
    animation-delay: 6s;
  }
  .blob-5 {
    width: 80px;
    height: 80px;
    top: 30%;
    left: 70%;
    background-color: rgba(44,102,110,0.3);
    animation-delay: 7s;
  }
  .blob-6 {
    width: 90px;
    height: 90px;
    top: 70%;
    left: 90%;
    background-color: rgba(255,90,95,0.25);
    animation-delay: 11s;
  }
  .blob-7 {
    width: 70px;
    height: 70px;
    top: 60%;
    left: 60%;
    background-color: rgba(244,184,96,0.3);
    animation-delay: 5s;
  }
  .blob-8 {
    width: 130px;
    height: 130px;
    top: 25%;
    left: 80%;
    background-color: rgba(15,244,198,0.2);
    animation-delay: 2.2s;
  }
  @keyframes move-blob {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(calc(-50% + 100px), calc(-50% + 100px)) scale(0.8);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
}

.birthday h1{
    font-family: 'Moontime';
    font-size: 200px;
    position: relative;
    z-index: 1;
}


.pack{
    padding:112px;
}

.hearts{
    width: 110px;
    filter: drop-shadow(0px 0px 2px #ff3131) drop-shadow(0px 0px 5px #ff3131) drop-shadow(0px 0px 12px #ff3131);
    margin: 0 auto;
    position: absolute;
    margin-top: -55px;
    left: 50vw;
    margin-left: -55px;
}

.pack h2{
    font-family: 'Forum', cursive;
    color: #171717;
    font-size: 72px;
    margin-bottom:40px;
}

.pack p{
    font-family: 'Noto', sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height:30px;
    color: rgba(0,0,0,0.7);
}

.pack p+p{
    margin-top: 18px;
}

.excel{
    background-color: #e0f5e4;
}

.powerpoint{
    background-color: #f9eae7;
}

.ancora{
    background-color: #fcf0e2;
}

.ancora-gold{
    background-color: #253031;
    color:#e0f5e4;
}

.ancora-gold p{
    color:#e0f5e4;
}

.ancora-gold h2{
    color: #fffceb;
    text-shadow: 0px 0px 30px #ffd700;
    font-family: 'Moontime';
    font-size: 124px;
}

.ancora-gold h3{
    color: rgba(255, 215, 0,.19);
    font-family: 'Cheque';
    font-size: 84px;
    margin-top: -138px;
    margin-bottom: 64px;
}

.okaay{
    background-color: #e3e1ef;
}


@media screen and (max-width: 992px) {

    .birthday{
        min-height: 230px;;
    }

    .birthday h1{
        font-size: 100px;
    }

    .hearts{
        width: 64px;
        margin-top: -32px;
        left: 50vw;
        margin-left: -32px;
    }

    .pack{
        padding: 64px 16px;
    }

    .pack h2{
        font-size: 48px;
        margin-bottom:32px;
    }
    
    .pack p{
        font-size: 16px;
        line-height:24px;
    }
    
    .ancora-gold h3{
        font-size: 34px;
        margin-top: -80px;
        margin-bottom: 64px;
    }

  }